# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.production

# Prisma
prisma/migrations/**/migration_lock.toml

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
